name: Build and Push Docker Image

on:
    push:
        branches: ['main']

permissions:
    contents: read
    packages: write

jobs:
    push-to-registry:
        runs-on: ubuntu-latest
        steps:
            - name: checkout repository
              uses: actions/checkout@v4
            
            - name: login to the container registry
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}
            
            - name: Build and push Docker image
              uses: docker/build-push-action@v5
              with:
                context: .
                push: true
                tags: ghcr.io/sabigbenmumin/sabig-devops-registry:latest

            - name: Trigger Render Deployment
              run: curl "${{secrets.RENDER_DEPLOY_HOOK}}"